#robot_face{
  margin-top:10px;
  margin-bottom:20px;
  width:200px;
  opacity:95%;
}
#dynamic_box{
  width:100%;
  height:150px;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  position:absolute;
  bottom:80px;
}
#update_link{
  margin-top:5px;
  margin-bottom:25px;
  font-size:13px;
}
#logo_box{
  width:100%;
  height:125px;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  position:absolute;
  top:175px;
}
#logo{
  wdith:100%;
  height:100%;
}
#logo_title{
  margin-top:20px;
  font-weight:600;
  font-size:25px;
}
#menu{
  position:fixed;
  right:20px;
  top:20px;
  box-sizing:border-box;
  border-radius:6px;
  border:1px solid lightgray;
  height:fit-content;
  min-height:725px;
  padding:10px;
  z-index:100000;
  cursor:pointer;
  background: white;
  background-size:cover;
  opacity:95%;
  width:fit-content;
  min-width:385px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.edgy_blue{
  color:#027ce0;
}

#lock_menu{
  position:absolute;
  z-index:100;
  width:100vw;
  height:100vh;
  background:white;
  margin:0;
  top:0;
  right:0;
  left:0;
  opacity:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family:inherit;
}
#class_menu{
  position:fixed;
  z-index:100;
  width:100%;
  height:100%;
  background:white;
  margin:0;
  top:0;
  right:0;
  left:0;
  opacity:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family:inherit;
}

#class_submit{
  margin:10px;
  margin-bottom:50px;
  width:200px;
  padding:5px;
  border:1px solid #3582c1;
  border-radius:3px;
  cursor:pointer;
  outline:none;
  color:white;
  background:#3582c1;
  display:none;
}

#class_select_loader{
  width:100%;
  height:fit-content;
  overflow:auto;
  margin-bottom:100px;
}


